{% extends 'base/base.html' %}

{% block contactblock %}
<section class="contactsec">
    <div class="contactbody">
        <div class="contacthead">
            <h1>Our Contact</h1>
            <hr>
        </div>
        <div class="contactdetails">
            <h3>Phone</h2>
            <h5>0923456789/78</h5>
            <h5>0913314234/52</h5>
            <hr>

            <h3>Email</h2>
            <h5>yourname@example.com</h5>
            <hr>

            <h3>Socials</h3>
            <div class="socials">
                <i>Facebook</i>
                <i>Instagram</i>
                <i>Telegram</i>
            </div>
        </div>
    </div>
</section>

{% endblock contactblock %}