{% extends "base/base.html" %}
{% load static %}
{% block homeblock %}
<section class="homesec">
    <div class="welcomebody">
        <div class="welcometxt">
            <h2>Welcome to our cafe</h2>
            <hr>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <div class="homelinks">
                <a href="{% url 'register' %}">Sign Up Today</a>
                <a id="regrestaurant" href="">Register a Restaurant</a>
            </div>
        </div>
        <div class="homecontent">
            <h1>Feeling Hungry?</h1>
            <div class="down">
                <div class="obj">
                    <h3>FOOD</h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                    <h4>Restaurant Name</h4>
                    <h4>Restaurant Location</h4>
                </div>
                <div class="obj">
                    <h3>FOOD</h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                    <h4>Restaurant Name</h4>
                    <h4>Restaurant Location</h4>
                </div>
                <div class="obj">
                    <h3>FOOD</h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                    <h4>Restaurant Name</h4>
                    <h4>Restaurant Location</h4>
                </div>
            </div>
            <div class="call">
                <h3 id="more">Well what are you waiting for!</h3>
                <a href="{% url 'register' %}">Sign Up</a>
            </div>
            
        </div>
    </div>

    <div class="foot">
        <h3>CONTACT US</h3>
        <hr>
        <div class="contactdetails">
            <h5>yourname@example.com</h5>
            <h5>0978787878</h5>
        </div>
        <a href="{% url 'contact' %}">CONTACT</a>
    </div>
</section>

{% endblock homeblock %}