{% extends "base/base.html" %}
{% load static %}
{% block homeblock %}
<section class="homesec">
    <div class="welcomebody">
        <div class="welcometxt">
            <h2>Welcome to DINE</h2>
            <hr>
            <p>DINE is a well established system that helps people all around choose where to go out for lunch or choose what meal to eat and where to find it with the best price. It's optimized to help you find what you want to eat or where you want to eat.</p>
            <div class="homelinks">
                <a href="{% url 'register' %}">Sign Up Today</a>
                <a id="regrestaurant" href="">Register a Restaurant</a>
            </div>
        </div>
        <div class="homecontent">
            <h1>Feeling Hungry?</h1>
            <div class="down">
                <div class="obj">
                    <img src="" alt="">
                    <h3>BURGER</h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                    <h4>Restaurant Name</h4>
                    <h4>Restaurant Location</h4>
                </div>
                <div class="obj">
                    <img src="" alt="">
                    <h3>PIZZA</h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                    <h4>Restaurant Name</h4>
                    <h4>Restaurant Location</h4>
                </div>
                <div class="obj">
                    <img src="" alt="">
                    <h3>SALAD</h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                    <h4>Restaurant Name</h4>
                    <h4>Restaurant Location</h4>
                </div>
            </div>
            <div class="call">
                <h3 id="more">Well what are you waiting for!</h3>
                <a href="{% url 'register' %}">Sign Up</a>
            </div>
            
        </div>
    </div>

    <div class="foot">
        <h3>CONTACT US</h3>
        <hr>
        <div class="contactdetails">
            <h5>yourname@example.com</h5>
            <h5>0978787878</h5>
        </div>
        <a href="{% url 'contact' %}">CONTACT</a>
    </div>
</section>

{% endblock homeblock %}