{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block logoutblock %}
<fieldset>
    <div class="content-section">
        <h5>You have been loged out</h5>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Cafe Management System</legend>
            </fieldset>

            <div class="form-group">
                <a id="regbtn" class="btn btn-outline-info" type="" href = "{% url 'login' %}">Sign In</a>
            </div>
        </form>
    </div>
</fieldset>
{% endblock logoutblock %}