{% extends 'cafe/base.html' %}

{% block homeblock %}
    <div class="homelogged">
        <div class="section">
            <h2>Delicious and Fast...</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do orem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do orem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do orem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
        </div>
    </div>

    <div class="show">
        <div class="rows">
            <h1>Browse</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do orem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
            <h6>-Menu-</h6>
        </div>
        <div class="rows">
            <h1>Order</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do orem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
            <h6>-Menu-</h6>
        </div>
        <div class="rows">
            <h1>Eat</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do orem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
            <h6>-Menu-</h6>
        </div>
    </div>
{% endblock homeblock %}